/* CSS Document for U.V.A */
body {
    background-color: #BFC1C4;
    font: normal 0.94em Arial, Helvetica, Verdana, sans-serif;
    color: #474b4f;
    line-height: 1.33em;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 45px;
}

/* LAYOUT */
#page {
    width: 942px;
    text-align: left;
    border: 1px solid #9EA3AC;
    margin: 15px auto;
    padding: 1px;
    background: #FFFFFF;
    clear: both;
}

#header {
    position: relative;
    color: #FFFFFF;
    font: normal 1.20em Georgia, "Times New Roman", Times, serif;
    height: 110px;
    background: url(../images/bg-header.png)
}

#main {
    margin: 15px 0px 30px;
    padding: 50px 30px 0 30px;
}

#startpage #main {
    margin: 0 0px 30px;
    padding: 0;
}

#content {
    float: left;
    width: 577px;
    padding: 0 0 30px 0;
}

#sidebar {
    float: right;
    width: 275px;
    padding: 23px 0 30px 0;
    margin-top: 41px;
    border-top: 1px solid #dfe0e1;
    background: url(../images/bg-rightcol.gif) repeat-x left top;
}

#footer {
    padding: 30px 30px 30px 30px;
    background: #dfe0e1;
    width: 882px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* GENERAL*/
h1 {
    font: normal 1.8em Georgia, "Times New Roman", Times, serif;
    margin: 0 0 20px 0;
}

#content h1 {
    border-bottom: 1px solid #dfe0e1;
    padding: 0 0 10px 0;
}

h2 {
    font: normal 1.33em Georgia, "Times New Roman", Times, serif;
    margin: 0 0 10px 0;
}

h3 {
    font: normal 1.07em Georgia, "Times New Roman", Times, serif;
    margin: 0 0 10px 0;
}

h3 a {
    color: #474b4f;
    margin: 0px;
}

h3 a:hover {
    color: #474b4f;
    text-decoration: underline;
}

a {
    color: #0c6cc6;
    text-decoration: none;
}

a:hover {
    color: #0c6cc6;
    text-decoration: underline;
}

p {
    margin: 0px 0px 15px 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#content img {
    margin-bottom: 15px;
}

#content img.leftaligned {
    margin: 0 10px 15px 0;
}

#content img.rightaligned {
    margin: 0 0 15px 10px;
}

/* NAVIGATIONS */
ul#mainmenu {
    float: right;
    display: block;
    margin: 65px 0 0 0;
    padding: 0;
}

ul#mainmenu li {
    float: left;
    padding: 0 30px 0 0;
}

ul#mainmenu li a {
    float: left;
    display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

ul#mainmenu li a:hover {
    text-decoration: underline;
}

ul#mainmenu li.selected a {
    color: #ffc600;
}

/* SUB MENU */
ul#submenu {
    display: block;
    margin: 0;
    padding: 0 15px 50px 15px;
}

ul#submenu li {
    padding: 0 30px 0 13px;
    margin-bottom: 10px;
    background: url(../images/arrow.gif) no-repeat 0 5px;
}

ul#submenu li a {
    display: block;
    text-decoration: none;
}

ul#submenu li a:hover {
    text-decoration: underline;
}

ul#submenu li.selected a {
    color: #333333;
}

/* Side bar*/
#sidebar h1 {
    padding: 0 15px 0 15px;
    font-size: 1.33em;
}

/* HEADER */
.logo {
    position: absolute;
    top: -35px;
    left: 25px;
    background: url(../images/logo.gif) no-repeat left top;
    display: block;
    width: 202px;
    height: 168px;
}

.logo span {
    display: none;
}

/* FOOTER */
.column ul li {
    font-weight: bolf;
}

.column ul li {
    font-weight: bolf;
}

.column ul li span {
    color: #474b4f;
    font-weight: normal;
}

.column {
    float: left;
    width: 273px;
    margin: 0 30px 0 0;
}

.column li, .column p {
    font-size: 0.80em;
    line-height: 1.33em;
}

.no-margin {
    margin: 0;
}

/* START PAGE*/
#intro {
    height: 310px;
    background: url(../images/intro-about-uva.jpg);
    padding: 0 0 0 30px;
    margin-bottom: 20px;
}

#intro p {
    position: relative;
    top: 140px;
    font: normal 1.33em Georgia, "Times New Roman", Times, serif;
    color: #fff;
    background: #474b4f;
    width: 410px;
    padding: 20px 20px 30px 20px;
    border: 1px solid #9c9993;
}

#doglist-wrapper {
    padding: 0 0 0 30px;
}

#doglist-wrapper li {
    float: left;
    margin: 0 26px 0 0;
    vertical-align: bottom;
}

#doglist-wrapper li a {
    font-size: 0.88em;
}

#doglist-wrapper p {
    margin: 0px 0px 25px 0;
}

#doglist-wrapper img {
    border: none;
}

/* images*/
.aligncenter {
    display: block;
    margin: 0 auto 20px auto;
}

.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

/* TEXT PAGE, LISPAGE */
#main-text {
    padding: 20px 0px 0px 0px;
}

.entry {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #dfe0e1;
    padding: 0 0 10px 0;
}

.entry img {
    margin-top: 3px;
}

.posted {
    color: #918C7E;
    font-family: Arial, helvetica, verdana, sans-serif;
    font-size: 0.8em;
    margin: 0 0 15px 0;
    padding: 0;
}

.posted span {
    padding: 0 9px;
}

#formwrapper {
    border: 1px solid #e8eaec;
    background: #f9f9f9;
    padding: 15px;
    margin: 0 0 30px 0;
}

#formwrapper select {
    width: 150px;
}

.submitbutton {
    background: #eb872f;
    border: 1px solid #eb872f;
    color: #fff;
    font-weight: bold;
}

/*---STYLES---*/
.box {
    padding: 15px;
    border: 1px solid #e8eaec;
    background: #f9f9f9;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 8px;
}

.box p {
    font-size: 0.88em;
}

.box input {
    margin-top: 5px;
}

.box input.email {
    font-size: 10px;
    padding: 3px;
    color: #a29e96;
    width: 140px;
}

.box input.subscribe {
    width: 70px;
    margin-left: 5px;
    color: #232323;
}

.box ul {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}




